body{
    background-color: black;
    color:aqua;
}
.homebtn{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom:30px;
}
.ticket{
    background-color: rgb(68, 68, 68);
    width:200px;
    height:300px;
    margin:20px;
    border-radius: 5%;
    display: inline-block;
}
.ticket img{
    width:180px;
    height:150px;
    background-color: brown;
    margin:10px;
}
.ticket a{
    display: inline-block;
    color: aqua;
    margin-left:20px;
}