<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style1.css">
</head>
<body>
    <div class="navbar">
        <a href="/read">Read</a>
        <a href="">option1</a>
        <a href="">option1</a>
        <a href="">option1</a>
    </div>
    <div class="form">
        <img id="display" src="">
        <form action="/create" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="image" id="image" placeholder="Image url" value="">
            <input type="submit" value="Create">
        </form>
    </div>
    <script src="/javascript/script2.js"></script>
</body>
</html>